{% load static %}
<nav class="navbar">
    <div class="navbar-left">
        <a href="/" class="navbar-logo">
            <img src="{% static 'main/images/logo.png' %}" alt="Logo" height="32"/>
        </a>
        <a href="/" class="navbar-link">Home</a>
        <a href="#" class="navbar-link">Games</a>
    </div>
    <div class="navbar-right">
        {% if not request.user.is_authenticated %}
            <a href="{% url 'login' %}" class="navbar-link">Login</a>
{#                        <a href="{% url 'accounts:register' %}" class="navbar-link">Register</a>#}
        {% else %}
            <span class="navbar-user">Welcome, {{ request.user.username|capfirst }}!</span>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="navbar-link-btn">Logout</button>
            </form>
        {% endif %}
    </div>
</nav>